* {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-kit-sizing:border-box;
}
a {
  text-decoration: none !important;
  color: #222222;
}
a:hover,
a:active {
  color: #ff0000;
}

input[type="email"]:invalid {
  border:2px solid red;
}


@font-face {
  font-family: "Museo Sans Cyrl 100";
  src: url(fonts/Museo Sans Cyrl 100.ttf);
}

html,body {
  color: #191818;
  font-size: 14px;
  font-family: "Museo Sans Cyrl 100", sans-serif;
/*  animation: fadein 3s;*/
  height: 100%;
  position: relative;
}

/* Animate  on Loading page*/
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page-wrapper {
  min-height:100%;
  margin-bottom: -115px;
}

.page-wrapper:after {
  content:"";
  display: block;
}

#footer,
.page-wrapper:after {
  height: 115px;
}

.inner-header {
  min-width: 100%;
  min-height: 800px;
  background: url(../images/header_image.png) center no-repeat;
  background-size: cover;
/*padding: 300px 0 200px 0;*/
}

header h1 {
  padding-left: 15px;
  color: #1b1a18;
  position: relative;
  bottom: 18px;
}


.navbar-default {
  z-index:99;
  font-size: 16px;
  background-color: rgba(255,255,255,.6);
  padding-bottom: 15px;
}

.navbar-nav a {
  line-height: 40px !important;
  position:relative;
  /*top:20px;*/
}

.navbar-nav li > a:hover,
.navbar-nav li > a:active {
  color: #ff0000 !important;
}


.navbar-nav a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #ff0000;
  transition: width .3s;
  -webkit-transition: width .3s;
  -moz-kit-transition: width .3s;
}

.navbar-nav a:focus::after:not(.lang li a) {
  width: 100%;
}

.navbar-nav a.active::after {
  display: block;
  width: 100%;
  height: 2px;
  background: #ff0000;
  transition: width .3s;
  -webkit-transition: width .3s;
  -moz-kit-transition: width .3s;
}

@keyframes goto {
  from {
    width:0%;
    opacity:0;
  }
  to {
    width:100%;
    opacity:1;
  }
}

.navbar-nav .active{
  color: #ff0000 !important;
}

.navbar-nav .active:after {
  content:'';
  display: block;
  color: #ff0000 !important;
  animation: goto .3s ease-in-out;
  -webkit-animation: goto .3s ease-in-out;
}

.nav > li > a {
  padding:0px;
}
.nav li {
  padding-right:40px;
}

.logo {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border-radius: 50%;
    border: 3px solid red;
    float: left;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
  //background-color: #fff;
}
.nav-palceholder {
  margin: 0 0 20px 0;
}
.navbar-brand h5{
  font-weight: 900;
  margin: 1px 0px 0px 0;
  padding: 0 0 0 50px;
  font-size: 17px;
}
.navbar-collapse{
  width: 100%;
  height:100%;
/*  animation: fadein 3s;*/

}

/* Language */

.lang li  {
  font-size: 14px;
  display: inline-block;

}

.lang li:not(:last-child) {
  transform: translateX(100%); opacity:0; width: 0;
  display: inline-block;
  transition: .5s ease-in-out;
}
.lang li:nth-child(1) a, .lang li:nth-child(2) a {
    color: #777;
}

.lang:hover li:not(:last-child) {
  transform: translateX(0); opacity:1; width: 25px;
}

.lang li a {
  color: red;
}
span.lang li {
  padding-right: 0px !important;
}
span.lang{
  display: inline-block;
  float:left;
  position: relative;
  left:2px;
}

/*End navbar*/

.contest {
  width: 50%;
  max-width: 100%;
  background: rgba(243, 240, 239, 0.7);
  display: inline-block;
  margin: 350px 0 200px 0;
  padding: 0 0 0 63px;
  animation: fadein 1s;
}
.contest h1 {
  margin-left: 10px;
  font-size: 28px;
  margin-top: 42px;
}
/*Banners*/
.banner {
  // margin-top: 200px;
  margin-top: 150px;
  text-align: center;
}
.banner img {
  max-width: 100%;
  max-height: 100%;
  min-height: 35%;
}
.banner .padding-fixation:last-child{
  padding-right:0;
}

/* Consultation */
.cons_block {
  margin-top: 150px;
}
.book_btn {
  width: 150px;
  height: 42px;
  background: transparent;
  color: #ff0000;
  border: 1px solid #ff0000;
}

.book_btn:hover {
  background: #ff0000;
  color: #ffffff;
  transition-duration: 0.6s;
}

.descr-section h1 {
  padding-bottom: 42px;
}
.descr-section p{
  width: 70%;
line-height: 25px;
padding: 20px 0px 45px 0;
}
.cons_block img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
/*Portfolio*/
.portfolio-box {
  margin-top: 150px;
  text-align: left;
}
.portfolio-box h1{
  padding-left: 30px;
}
.image-portfolio {
  height: 250px;
  // width: 30%;
  overflow: hidden;
}
.img-block img {
  height: 250px;
  width: 100%;
  float: left;
  transition: all 1.5s;
}
.overlay-header {
  z-index: 0;
  position: absolute;
  width: 225px;
  height: 55px;
  background: rgba(202, 205, 206, 0.7);
  margin-top: 50px;
}
.overlay-header h1 {
  line-height: 20px;
  font-size: 28px;
  font-family: "Museo Sans Cyrl", sans-serif;
}
.text-overlay {
  position: relative;
  text-align: left;
  font-size: 14px;
  line-height: 22px;
  bottom: 130px;
  padding: 10px;
  color: white;
  visibility: hidden;
}
.text-overlay p{
  opacity:0;
  transition-duration: 2s;
  padding: 22px 0 0px 22px;
}
.text-overlay:hover p, .overlay-header > .text-overlay p {
  opacity: 1;
  transition-duration: 4.5s;
}
.image-portfolio:hover .img-block img {
  cursor: pointer;
  transform: scale(2);
   -webkit-transform: scale(2); 
      -ms-transform:scale(2);
}
.image-portfolio:hover {
  cursor: pointer;
}
.image-portfolio:hover .text-overlay {
  visibility: visible;
}
.image-portfolio:hover .img-block img {
  filter: brightness(50%);
}
.padding-fixation{
    padding: 0px 5px 0 0;
}
.padding-fixation2{
padding: 0px 0px 5px 0px;
}
/* Footer */
#footer {
  margin-top: 150px;
  border-top: 1px solid #bcbcbc;
}

.footer-content .logo {
    width: 40px;
    height: 40px;
    margin-top: 4px;
    border-color: #222222;
    position: relative;
    margin-right: 10px;
    float: right;
}

.footer-content {
  text-align: left;
  padding: 25px 0;
}

.footer-content span {
    text-align: left;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    float: right;
    top: 5px;
    position: relative;
}
.footer-content p{
  float:right;
}
.fix-slogan{
  padding-right:21px;
}
.fix-copy p{
  padding-right:21px;
  padding-top:10px;
}
.hidden {
  display: none; 
}

/* Portfolio Page */

.portfolio-nav {
  font-size: 16px;
  margin-top: 70px;
  text-align: left;
  position: relative;
  padding: 0 5px;
}
.portfolio-nav-head {
  padding: 0 !important;
  margin-top: 30px !important;

}
.portfolio-nav ul {
  list-style-type: none;
  position: relative;
  border-bottom: 1px solid rgb(236, 236, 236);
  width: 100%;
}

.portfolio-nav  li {
    display: inline-block;
    text-decoration: none;
    text-align: center;
}

.portfolio-nav a:hover{
  transition: 0.5s ease-in-out;
}

.portfolio-nav a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
  position:relative;
  top:19px;
}

.portfolio-nav li.active a:after {
  width: 100%;
  background: red;
  position:relative;
  top:19px;
}

.portfolio-nav li a {
  text-decoration: none;
  display: inline-block;
  padding-bottom: 20px;
  position:relative;
  top:2px;
}


.portfolio-nav li.active a{
  color:red;
}


/* Portfolio Grid */

.portfolio-wrap {
  margin-top: 130px;
}

.portfolio-wrap .col-md-4 {
  padding-right: 5px; 
  padding-left: 5px;
  padding-bottom: 10px;
}

.portfolio-wrap img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 240px;
}


/* Portfolio modal */

#portfolio_grid .mix {
  display: none;
}

.modal-header {
  border-bottom:none;
}

.modal-body img {
  width: 100%;
}

.modal-body {
  padding:5px;
}

/*contact form*/

.contact-t-b{
padding: 100px 0;
transition: 3s ease-in-out;
animation: fadein 1s;
}
.contact-bg{
  background: url('../images/contact_bg.png') no-repeat;

}
.contact-bg textarea, .contact-bg input {
  background-color: rgba(255,255,255,.5);
  border:1px solid #888787;
  width:100%;
  margin-bottom:20px;
  padding:10px;
  resize: none;
}
.contact-bg input:nth-child(4){
  width: 72%;
}
.contact-bg button{float:right;}
.contact-bg ul li{
  list-style: none;
}
.contact-bg ul.list li:not(:first-child) {
  padding-top:62px;
}
.list li a:before{
  content: '';
  height:30px;
  width:30px;
  display: inline-block;
  top: 10px;
  position: relative;
  padding-right: 44px;
}
.list li a.phone:before{
  background: url('../images/icons/phone.png') no-repeat;
}
.list li a.fb:before{
  background: url('../images/icons/fb.png') no-repeat;
}
.list li a.email:before{
  background: url('../images/icons/email.png') no-repeat;
}
.list li a.insta:before{
  background: url('../images/icons/insta.png') no-repeat;
}
.list li a.time:before{
  background: url('../images/icons/time.png') no-repeat;
}
.list li a, .phone{
  -webkit-transition: ease-in-out .5s;
  -moz-transition: ease-in-out .5s;
  -ms-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s ;
}
.list li a:hover, a:hover.phone{
  color:red;
  -webkit-transition: ease-in-out .5s;
  -moz-transition: ease-in-out .5s;
  -ms-transition: ease-in-out .5s;
  -o-transition: ease-in-out .5s;
  transition: ease-in-out .5s ;
}
.list a:hover.phone:before{
  background: url('../images/icons/phone-hovered.png') no-repeat;
}
.list a:hover.fb:before{
  background: url('../images/icons/fb-hovered.png') no-repeat;
}
.list a:hover.email:before{
  background: url('../images/icons/email-hovered.png') no-repeat;
}
.list a:hover.insta:before{
  background: url('../images/icons/insta-hovered.png') no-repeat;
}
.list a:hover.time:before{
  background: url('../images/icons/time-hovered.png') no-repeat;
}

/*left right*/
.left{float:left;}
.right:{float:right;}

/*nav fix*/
.navbar {
  border-radius: 0px !important;
  width:100%;
  display: block;
}
.navbar-default {
  border-color: transparent !important;

}
.navbar-padding {
  padding: 15px 0 !important;
}
.navbar-right {
  margin-right: 0px !important;
}
.about-t-b {
padding: 50px 15px;
animation: fadein 1s;
}
  .about-t-b h2{
    font-weight: 100;
  padding-bottom: 70px;
  }
.profile-pics div:nth-child(1),.profile-pics div:nth-child(2) {
  text-align: center;
  margin:0 auto;
  animation: fadein 3s;
}
.profile-pics p{
  padding:5px 0;
}
.about-t-b:nth-child(2){
  padding-bottom: 40px;
}
.about-t-b p{
    padding: 5px 0;
}
.about-t-b h4{
  font-weight:100;
}

/*support sprite*/

.sprite {
    background-image: url(../images/support.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-blum {
    width: 76px;
    height: 21px;
    background-position: -5px -5px;

}

.sprite-blum:hover {
    width: 76px;
    height: 21px;
    background-position: -91px -5px;
}

.sprite-bosch {
    width: 103px;
    height: 23px;
    background-position: -5px -36px;
}

.sprite-bosch:hover {
    width: 103px;
    height: 23px;
    background-position: -5px -69px;
}

.sprite-eegger {
    width: 96px;
    height: 23px;
    background-position: -5px -102px;
}

.sprite-eegger:hover {
    width: 96px;
    height: 23px;
    background-position: -5px -135px;
}

.sprite-festool {
    width: 111px;
    height: 15px;
    background-position: -5px -168px;
}

.sprite-festool:hover {
    width: 111px;
    height: 15px;
    background-position: -177px -5px;
}

.sprite-gorenje {
    width: 94px;
    height: 26px;
    background-position: -177px -30px;
}

.sprite-gorenje:hover {
    width: 94px;
    height: 26px;
    background-position: -118px -66px;
}

.sprite-osram {
    width: 77px;
    height: 17px;
    background-position: -222px -66px;
}

.sprite-osram:hover {
    width: 77px;
    height: 17px;
    background-position: -222px -93px;
}

.automargin{
  padding:50px 0;
}
.automargin li span{
  margin: 0 auto;
}
.filter_div ul{
  margin-bottom: -1px;
}

/*Back-To-Top*/

.back-to-top {
  display: none;
  position:fixed;
  right:50px;
  bottom: 20px;
  z-index:99;
 } 

.back-to-top i {
  font-size: 42px;
}