
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.logo {
		width: 40px;
		height: 40px;
		background-color: transparent;
		border-radius: 50%;
		border: 3px solid red;
		float: left;
	}

	.nav .dropdown {
		display: inline-block;
		overflow: hidden;
		padding-bottom: 15px;
	}

	.dropdown-menu li {
		position:relative;
		left: 12px !important;
	}
	
	.dropdown-menu>li>a {
		display: inline;
 		padding: 0px !important;
	}

	.lang ul {
		display: none;
	}

	.logo-block h1 {
		font-size: 16px;
		position:relative;
		top:-25px;
	}
	.cons_block {
			margin-top: 20%;
	}

	.small-padding{
		padding-top:20%;
	}

	.navbar ul {
		text-align: center;
	}

	.nav > li > a {
		display: inline;
	}

	.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
		border: none !important;
	}

	.navbar-brand {
    float: left;
    height: 50px;
    padding: 4px 15px;
    font-size: 18px;
    line-height: 20px;
	}
	.navbar-brand h5{
		float: left;
		padding: 1px 0 0 15px;
		font-weight:900;
	}


}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.logo-block {
		position: absolute;
		top: 32px;
		left: -50px;
		right:0px;
	}
	.logo-block h1 {
		font-size: 16px;
		position:relative;
		top:-40px;
	}

	.contest h1{
		font-size: 24px;
	}
	
	


}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {


}
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}