
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px){
	.container{
	padding: 0 150px !important	;
}
}
/*@media only screen and (max-width : 1200px) {
.container{
	padding: 0 150px !important	;
}
}*/

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.padding-fixation {
    padding: 2.5px 2.5px;
}
.padding-fixation2 {
    padding: 2.5px 2.5px;
}
.banner {
    margin-top: 50px;
}
.cons_block {
    margin-top: 50px;
}
.contest {
    width: 60%;}
    .descr-section{
    	padding-bottom:50px;
    }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.logo {
		width: 40px;
		height: 40px;
		background-color: transparent;
		border-radius: 50%;
		border: 3px solid red;
		float: left;
	}

	.nav .dropdown {
		display: inline-block;
		overflow: hidden;
		padding-bottom: 15px;
	}

	.dropdown-menu li {
		position:relative;
		left: 12px !important;
	}
	
	.dropdown-menu>li>a {
		display: inline;
 		padding: 0px !important;
	}

	.lang ul {
		display: none;
	}

	.logo-block h1 {
		font-size: 16px;
		position:relative;
		top:-25px;
	}
	.cons_block {
			margin-top: 20%;
	}

	.small-padding{
			padding-top: 0;
	}

	.navbar ul {
		text-align: center;
	}

.nav > li > a {
    display: inline-block;
}

	.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
		border: none !important;
	}

	.navbar-brand {
    float: left;
    height: 50px;
    padding: 4px 15px;
    font-size: 18px;
    line-height: 20px;
	}
	.navbar-brand h5{
		float: left;
		padding: 1px 0 0 15px;
		font-weight:900;
	}

	.contest h1 {
	    margin: 35px 0 0 0 !important;
	    padding-left:0 !important;
	}

	.contest {
	    width: 100%;
	    max-width: 100%;
	    background: rgba(243, 240, 239, 0.7);
	    display: inline-block;
	    margin: 150px 0 150px 0;
	    text-align: center;
	    padding: 0 !important;
	}

	.banner{
		margin-top: 50px;
	}
	.padding-fixation {
    padding: 2.5px 5px;
}
	.cons_block {
    margin-top: 50px;
}
	.descr-section{
		text-align: center;
	}
	.descr-section h1 {
    padding-bottom: 0px;
    margin-top: 0;
}
.descr-section p{
	margin: 30px 0;
}
.portfolio-box {
    margin-top: 50px;
}
.padding-fixation2 {
    padding: 2.5px 5px;
}
#footer {
    margin-top: 50px;
}
.footer-content p {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
}
.footer-content {
    margin-right: 0;
    padding: 10px 0;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.nav li {
    padding-right: 0;
}
span.lang {
    display: inline;
    position: relative;
    left: 2px;
    float:none;
}
.navbar-collapse {
    width: 100%;
    min-height: 250px;
}
.portfolio-nav li a {
    text-decoration: none;
        text-decoration-color: currentcolor;
        text-decoration-line: none;
        text-decoration-style: solid;
        display: inline-block;
    padding: 20px 0;
    position: relative;
    top: 2px;
}
.portfolio-nav ul {
    list-style-type: none;
    position: relative;
    border-bottom: none;
    width: 100%;
}
.portfolio-wrap {
    margin-top: 50px;
}
.contact-bg input:nth-child(4) {
    width: 100%;
}
/*.contact-bg button {
    float: none;
    width: 100%;
}*/
.contact-t-b {
    padding: 50px 15px;
}
.descr-section p {
    width: 100%;
    line-height: 25px;
    padding: 0 !important
}
.profile-pics div:nth-child(1){
	padding-bottom: 70px;
}

.about-t-b div:nth-child(1), .about-t-b div:nth-child(2), .about-t-b div:nth-child(3), .about-t-b div:nth-child(4), .about-t-b div:nth-child(5){
	padding-bottom: 60px;
}

.automargin li:nth-child(1), .automargin li:nth-child(2), .automargin li:nth-child(3), .automargin li:nth-child(4), .automargin li:nth-child(5){
padding-bottom:40px;
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.logo-block {
		position: absolute;
		top: 32px;
		left: -50px;
		right:0px;
	}
	.logo-block h1 {
		font-size: 16px;
		position:relative;
		top:-40px;
	}

	.contest h1{
		font-size: 24px;
	}

	.navbar-padding {
  padding: 0px !important;
}
	.contest h1{
		font-size:22px;
		font-weight:100;
	}
	
	.fix-slogan {
    padding-right: 0px !important;
    width: calc(100% - 25%);
}
.fix-copy p {
    padding-right: 0px !important;}


}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {


}
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}